<nav class="flex flex-wrap items-center justify-center px-2 mb-6">
  <div
    class="container flex flex-wrap items-center justify-center px-4 mx-auto"
  >
    <div class="relative flex justify-center w-full">
      <button
        type="button"
        onclick="toggleNavbar('navbar')"
        class="inline-flex items-center justify-center text-gray-500 rounded-md md:hidden"
        aria-expanded="false"
      >
        <span class="sr-only">Open menu</span>
        <!-- Heroicon name: outline/menu -->
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
    <div class="hidden md:block" id="navbar">
      <div class="flex flex-col w-full gap-3 mr-auto md:flex-row">
        {% if page.url != "/" %}
        <!-- don't show Home in menu for Homepage -->
        <div class="relative group">
          <a
            class="py-2 mx-auto text-sm uppercase transition text-gray-50 lg:py-1"
            href="{{site.baseurl}}/"
          >
            Home
          </a>
          <div
            class="absolute bottom-0 left-0 w-0 group-hover:w-full h-0.5 bg-zinc-50 transition-[width] duration-500"
          ></div>
        </div>
        {% endif %}

        <!-- dynamic menu based on navigation info in _config.yml -->
        {% for link in site.nav-menu %} {% if page.permalink !=
        {{link.permalink}} %}
        <!-- don't show current page in menu -->

        <div class="relative group">
          <a
            class="py-2 mx-auto text-sm uppercase transition text-gray-50 lg:py-1"
            href="{{site.baseurl}}/{{link.permalink}}"
          >
            {{link.text}}
          </a>
          <div
            class="absolute bottom-0 left-0 w-0 group-hover:w-full h-0.5 bg-zinc-50 transition-[width] duration-500"
          ></div>
        </div>

        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</nav>
